Repository 4und-Cloud/TablePick-BackEnd, pull requests merged in 2025-06, with the labels that each got.

#206 [TP-173] 리프레시 토큰 재로그인시 업데이트
  src/main/java/com/goorm/tablepick/domain/member/entity/Member.java
  src/main/java/com/goorm/tablepick/global/jwt/JwtProvider.java
  src/main/java/com/goorm/tablepick/global/jwt/OAuth2AuthenticationSuccessHandler.java
Labels: bug

#212 [TP-175] 예약 status에 null 포함 리팩터링
  src/main/java/com/goorm/tablepick/domain/notification/service/ReservationNotificationSchedulerImpl.java
  src/main/java/com/goorm/tablepick/domain/reservation/controller/ReservationController.java
  src/main/java/com/goorm/tablepick/domain/reservation/repository/ReservationRepository.java
  src/main/java/com/goorm/tablepick/domain/restaurant/data/RestaurantDataImporter.java
Labels: refactor

#246 Tp-182 검색 테스트 코드 및 테스트용 yml 수정
  build.gradle
  src/main/java/com/goorm/tablepick/domain/restaurant/entity/Restaurant.java
  src/main/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantRepository.java
  src/main/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantRepositoryImpl.java
  src/main/java/com/goorm/tablepick/domain/restaurant/service/RestaurantService.java
  src/main/java/com/goorm/tablepick/domain/restaurant/service/RestaurantServiceImpl.java
  src/test/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantCategoryRepositoryTest.java
  src/test/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantRepositoryTest.java
  src/test/java/com/goorm/tablepick/domain/restaurant/service/RestaurantServiceTest.java
  src/test/resources/application.yml
Labels: feat

#251 [TP-185] 로고 포함 알림 메시지 전송 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMServiceImplTest.java
Labels: test

#253 [TP-205] session 만료시 토큰 만료 설정
  src/main/java/com/goorm/tablepick/global/jwt/OAuth2AuthenticationSuccessHandler.java
Labels: bug

#257 [TP-186] fcm 토큰이 null이거나 비어있으면 전송하지 않고 에러 메시지 보내는지 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMServiceImplTest.java
Labels: test

#276 [TP-212] 알림 이미지 안 나오던 현상 디버깅
  src/main/java/com/goorm/tablepick/domain/notification/service/FCMServiceImpl.java
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMServiceImplTest.java
  src/test/resources/application.yml
Labels: bug

#269 [TP-211] 테스트코드 및 서비스 구현체 리팩토링
  src/main/java/com/goorm/tablepick/domain/notification/service/FCMServiceImpl.java
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMServiceImplTest.java
Labels: refactor

#277 [TP-207] FCM과 연동하여 알림, 이미지 포함 알림 송수신 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMServiceImplIntegTest.java
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMServiceImplTest.java
Labels: test

#296 [TP-187] FCMTokenServiceImpl 테스트 코드 작성, 기타 오류 수정
  build.gradle
  src/main/java/com/goorm/tablepick/domain/notification/service/FCMServiceImpl.java
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMServiceImplIntegTest.java
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMTokenServiceImplTest.java
  src/test/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantRepositoryTest.java
Labels: test

#297 [TP-188] FCMTokenServiceImpl 통합 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMTokenServiceImplIntegTest.java
Labels: test

#298 [TP-189] NotificationServiceImpl 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/service/NotificationServiceImplTest.java
Labels: test

#300 [TP-216] 검색 필터 추가
  src/main/java/com/goorm/tablepick/domain/restaurant/controller/RestaurantController.java
  src/main/java/com/goorm/tablepick/domain/restaurant/dto/request/RestaurantSearchRequestDto.java
  src/main/java/com/goorm/tablepick/domain/restaurant/dto/response/PagedRestaurantSearchResponseDto.java
  src/main/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantRepository.java
  src/main/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantRepositoryCustom.java
  src/main/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantRepositoryImpl.java
  src/main/java/com/goorm/tablepick/domain/restaurant/service/RestaurantService.java
  src/main/java/com/goorm/tablepick/domain/restaurant/service/RestaurantServiceImpl.java
Labels: feat

#303 [TP-190] NotificationServiceImpl 통합 테스트 성공
  src/main/java/com/goorm/tablepick/domain/member/entity/Member.java
  src/main/java/com/goorm/tablepick/domain/restaurant/entity/Restaurant.java
  src/test/java/com/goorm/tablepick/domain/notification/service/NotificationServiceImplIntegTest.java
Labels: test

#307 [TP-192] RegisterNotificationServiceImplTest 통합 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMServiceImplIntegTest.java
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMTokenServiceImplTest.java
  src/test/java/com/goorm/tablepick/domain/notification/service/RegisterNotificationServiceImplIntegTest.java
  src/test/java/com/goorm/tablepick/domain/notification/service/RegisterNotificationServiceImplTest.java
Labels: test

#308 [TP-193] ReservationNotificationSchedulerImpl 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/service/ReservationNotificationSchedulerImplTest.java
Labels: test

#309 [TP-194] ReservationNotificationSchedulerImpl 통합 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/service/ReservationNotificationSchedulerImplIntegTest.java
Labels: test

#311 [TP-221] gitignore 추가
  .gitignore
Labels: documentation

#314 [TP-195] NotificationController 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/controller/NotificationControllerTest.java
Labels: test

#318 [TP-195] NotificationController 통합 테스트 성공
  src/main/java/com/goorm/tablepick/domain/notification/controller/NotificationController.java
  src/main/java/com/goorm/tablepick/global/filter/JwtTokenFilter.java
  src/test/java/com/goorm/tablepick/domain/notification/controller/NotificationControllerIntegTest.java
Labels: test

#319 [TP-223] 검색 페이지네이션
  src/main/java/com/goorm/tablepick/domain/restaurant/controller/RestaurantController.java
  src/main/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantRepositoryCustom.java
  src/main/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantRepositoryImpl.java
  src/main/java/com/goorm/tablepick/domain/restaurant/service/RestaurantService.java
  src/main/java/com/goorm/tablepick/domain/restaurant/service/RestaurantServiceImpl.java
  src/test/java/com/goorm/tablepick/domain/restaurant/repository/RestaurantRepositoryTest.java
  src/test/java/com/goorm/tablepick/domain/restaurant/service/RestaurantServiceTest.java
Labels: feat

#321 [TP-196] NotificationScheduleController 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/controller/NotificationScheduleControllerTest.java
Labels: test

#326 [TP-229] FCM 알림 100개 발송 테스트 성공
  src/test/java/com/goorm/tablepick/domain/notification/service/FCMServiceImplIntegTest.java
Labels: test

#329 [TP-230] FCM 알림 다중 발송 테스트 api 추가
  src/main/java/com/goorm/tablepick/domain/notification/controller/NotificationController.java
  src/main/java/com/goorm/tablepick/domain/notification/dto/response/NotificationTestStatistics.java
Labels: feat

#340 [TP-236] 알림 부하 테스트 준비 세팅
  src/main/java/com/goorm/tablepick/domain/notification/controller/NotificationController.java
  src/main/java/com/goorm/tablepick/domain/notification/dto/request/FCMLogoNotificationRequest.java
  src/main/java/com/goorm/tablepick/domain/notification/dto/response/FCMNotificationResponse.java
  src/main/java/com/goorm/tablepick/domain/notification/service/FCMService.java
  src/main/java/com/goorm/tablepick/domain/notification/service/FCMServiceImpl.java
  src/main/java/com/goorm/tablepick/domain/reservation/service/ReservationImpl.java
Labels: feat

#346 [TP-240] 운영서버 시큐리티 필터 FCM api 추가
  .DS_Store
  .gitignore
  src/.DS_Store
  src/main/.DS_Store
  src/main/java/.DS_Store
  src/main/java/com/.DS_Store
  src/main/java/com/goorm/.DS_Store
  src/main/java/com/goorm/tablepick/domain/notification/controller/NotificationController.java
  src/main/java/com/goorm/tablepick/domain/notification/service/FCMServiceImpl.java
  src/main/java/com/goorm/tablepick/global/config/SecurityConfig.java
  src/main/java/com/goorm/tablepick/global/filter/JwtTokenFilter.java
Labels: feat
